@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
a {
  color: #F74134;
  text-decoration: none;
}
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  color: #ffffff;
}
a:focus {
  outline: none;
}
img {
  max-width: 100%;
}
.row {
  padding-bottom: 70px;
}
.section-title {
  text-align: center;
  text-transform: uppercase;
  color: #FF4400;
  font-size: 50px;
  font-weight: 700;
  padding: 48px 20px;
}
.section-title span {
  color: #333;
}
::selection {
  background: #FF4400;
  color: #fff;
}
::-moz-selection {
  background: #FF4400;
  color: #fff;
}
#portfolio-items .mix {
  float: left;
  display: none;
}
.btn {
  cursor: pointer;
  padding: 10px 16px;
  display: inline-block;
  margin: 10px 20px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-border {
  border: 2px solid #FF4400;
  color: #FF4400;
  overflow: hidden;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}
.btn-border:hover,
.btn-border:active {
  color: #ffffff;
  background: #FF4400;
}
.btn-common {
  background: #FF4400;
}
.btn-common:hover {
  background: #585858;
}
#header .main-navigation {
  background: #ffffff;
  border-bottom: 2px solid #FF4400;
}
#header .navbar-brand {
  height: auto;
}
#header .nav {
  list-style: none;
  margin-top: 16px;
}
#header .nav li {
  margin: 0 0 0 24px;
}
#header .nav li a {
  text-transform: uppercase;
  padding: 5px 0;
  color: #FF4400;
  font-weight: 300;
  position: relative;
}
#header .nav li a:after {
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 2px solid #FF4400;
  width: 100%;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}
#header .nav li.active a:after,
#header .nav li.active a,
#header .nav li a:hover::after,
#header .nav li a:hover,
#header .nav li a:focus {
  background: none;
  opacity: 1;
  color: #FF4400;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
#header .affix {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
#header .affix .navbar-brand {
  padding: 12px;
}
#header .affix .navbar-brand img {
  width: 80%;
}
#header .affix .nav {
  margin-top: 10px;
}
#intro {
  background: url("../img/background/bg-intro.jpg") center center no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding-top: 67px;
}
#intro .overlay {
  background: url("../img/background/bg-overlay.png") rgba(0, 0, 0, 0.6) repeat;
}
#intro .main-text {
  margin: 202px 0px;
}
#intro .main-text h1 {
  font-weight: 700;
  font-size: 62px;
  color: #ffffff;
}
#intro .main-text h1 span {
  color: #FF4400;
}
#intro .main-text h2  {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 60px;
}
#intro .main-text .btn {
  font-size: 20px;
  padding: 12px 30px;
  margin-top: 30px;
}

#service {
  background: #ffffff;
  padding-bottom: 50px;
}
#service .service-box{
  position: relative;
  border: 1px solid #FF4400 ;
  margin-bottom: 48px;
}
#service .contact {
  color: #ffffff;
  text-align: center;
  background: #FF4400;
  border: 4px solid #ffffff;
  padding: 10px 14px ;
}
#service .contact h2 {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;

}
#service .contact p{

}
#service .icon-wrapper {
  background: #ffffff;
  border-radius: 50%;
  height: 54px;
  left: -7px;
  padding: 3px;
  position: absolute;
  top: -30px;
  width: 54px;


}
#service .icon-wrapper  i {
  background: #ffffff;
  color: #FF4400;
  border: 2px solid #FF4400;
  border-radius: 50%;
  font-size: 30px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  width: 48px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;

}
#service .service-box:hover i{
  background: #FF4400 ;
  color: #fff;
  transition: .5s;

}

#about{
  background:rgba(0,0,0,5);
  background-size: cover;
  color: #fff;

}
#about .section-title span{
    color: #fff;
}
#about .side-left{
  text-align: center;

}
#about .side-left img{
  border-radius: 4px;
  padding-bottom: 12px;
  width: 200px;
  margin-left: 184px;

}
#about .side-left .info h4 {
  font-size: 22px;
  font-weight: 300;
  line-height: 12px;
}
#about .side-left .info p:after {
  background: #ffffff;
  content: "";
  height: 5px;
  left: 32%;
  position: absolute;
  top: 125%;
  width: 34%;
}
#about .side-right p {
  padding: 0px 20px;
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
}
#about .owl-theme .owl-controls .owl-page span {
  background: none;
  display: none;
}
#why-chose {
    background: rgba(0,0,0,.5);
    color: #fff;
    background-size: cover;
    overflow: hidden;
}

#why-chose .section-title span {
  color: #fff;
}
#why-chose .showcase-box img {
  position: relative;
  top: 86px;
}
#why-chose .icon {
  float: right;
  width: 50px;
  height: 50px;
  border: 2px solid #FF4400;
  overflow: hidden;
  border-top-left-radius: 12px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#why-chose .icon i {
  font-size: 28px;
  line-height: 48px;
  color: #FF4400;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#why-chose .box-left:hover .icon,
#why-chose .box-right:hover .icon{
  background-color: #FF4400;
}
#why-chose .box-left:hover .icon i,
#why-chose .box-right:hover .icon i {
  color: #fff;
}
#why-chose .content-left .icon {
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-right-radius:0px;
  border-bottom-left-radius: 0px;
}
#why-chose .content-left .box-left .content {
  padding-right: 72px;
}
#why-chose .content-left .box-left .content h4 {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
}
#why-chose .content-left .box-left .content p {
  text-align: right;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
}
#why-chose .content-left .box-left:hover .icon {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
#why-chose .content-right .icon {
  float: left;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
#why-chose .content-right .box-right .content {
  text-align: left;
  padding-left: 72px;
}
#why-chose .content-right .box-right h4 {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
#why-chose .content-right .box-right p {
  line-height: 22px;
  font-size: 14px;
  font-weight: 300;
}
#why-chose .content-right .box-right:hover .icon {
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}